<!DOCTYPE html>
<html>
  <head>
    <title>ReminderApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Reminder', reminders_path %>
    <%= link_to 'SMS', short_messages_path %>
    <%= link_to 'SMS Template', short_message_templates_path %>
    <%= yield %>
  </body>
</html>
