= form_for :short_message, url: short_message_path(@short_message), method: :put, local: true do |form|
  %p 
    Phone Number
    = form.text_field :phone_number
 
  %p
    Content
    = form.text_area :content
 
  %p
    = form.submit
 
= link_to 'Back', short_messages_path